section.o-textAndImg.-bg.-padRgTop.-padRgBottom
 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/identidad_corporativa/idc_img_01.png", alt="Ilustración de "+services[0]+" con componentes como el manual, tipografía y colores")
  .m-textAndImg__content.-left.-padTop
   h2.a-textAndImg__title Manual de #{services[0]}
   .m-textAndImg__subtitle.-padSmBottom
    .a-arrowWierd
    span.a-textAndImg__subtitleText Una marca se conoce y recuerda por su #{services[0]}
   .a-textAndImg__content
    p El Manual de #{services[0]} contiene las instrucciones para el uso correcto de los signos y elementos gráficos distintivos de la empresa, y es en base a estas instrucciones es que se diseñan la página web e imágenes para publicidad, redes sociales y papelería digital o impresa de la empresa, de manera que exista coherencia visual.
    p.-mXsBottom Este manual contiene el logotipo, la paleta de colores, las áreas de seguridad y reductibilidad del logotipo, las tipografías, los recursos gráficos y un banner.  También muestra el detalle de los componentes de estos signos y elementos distintivos, y establece las instrucciones y formas de aplicación correctas en los medios digitales e impresos.

    a.a-noMargin.a-button#packOne(href=monlogoInternos[0])
     button.a-btn.-btnSecondary(type="button") Ver manual
