section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__icon
    img.a-textManual__icon(src=linksUrl[1]+logoResponsive[1], alt="")
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(linksUrl[1]+linksInternos[1], "↖", services[0])
     +textNoLinks("🌠", "Manual de "+services[0])
    h1.a-text__header Manual de #{services[0]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails Signos, elementos distintivos, instrucciones y aplicaciones


  article.m-text__blog
   .m-text__section
    .m-text__alert
     .a-text__alert #[span.-iconAlerts 💡]
     .m-text__warning
      p Como ejemplo estamos mostrando el manual que reúne las instrucciones para la correcta aplicación y uso de la identidad gráfica de Monlogo.
    .m-textContent.-gridGapXs
     .m-columnOne
      p.-padSmBottom La función de este manual es orientar a todas las personas responsables de interpretar, comunicar y aplicar la identidad gráfica de la empresa en los diferentes medios en que va ser aplicada.

     .m-columnTwo
      p Además de la presentación en formato de página web como la que se observa aquí, hacemos una versión de este manual en formato PDF
      ul.m-linksList.-mXsTop
       li: a.-medium.-dFlex.-download(href=linksUrl[1]+"assets/download/manual_identidad_grafica.pdf", download="manual identidad grafica") 📕 #[b.-linksText Descargar PDF]

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Logotipo
    +ImgTextContainer("", "-m-w75 -mAuto","Versión principal", "", "assets/img/manual_monlogo/imagotipo_explain_big.png")
    .m-textContent.-padMdTop.-mXsTop
     .m-columnOne
      h3.-uppercase.-italic.-padXsBottom Área de seguridad
      p El área de seguridad es un margen alrededor del logotipo, que permite resguardar al  logotipo de cualquier elemento cerca de él, para mantener una buena legibilidad.
      +ImgTextContainer("", "-m-w75 ","", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_spacing.png")
     .m-columnTwo
      h3.-uppercase.-italic.-padXsBottom Reductibilidad
      p La reductibildad es el tamaño mínimo al que se recomienda reducir el logotipo, para no perder su legibilidad.
      +ImgTextContainer("-mSmTop ", "","", "-mAutoRight -m-w30", "assets/img/manual_monlogo/imagotipo_sizing.svg")


   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Paleta de colores
    .m-textContent
     .m-columnOne
      h3.-uppercase.-italic.-mSmTop Paleta de colores principal
      +colorContainer("","1","#2e279d", "46, 39, 157","93%, 95%, 0%, 0%", "242°, 74%, 61%","2746 C")
      +colorContainer("","2","#46b3e6", "70, 179, 230","88%, 3%, 11, 0%", "199°, 69%, 90%","279 C")
      +colorContainer("","3","#0779e4", "7, 121, 228 ","92%, 51%, 0%, 18%", "208°, 96%, 89%","3005 C")
      +colorContainer("","4","#f5d265", "245, 210, 101","0%, 14%, 59%, 4%", "46°, 88%, 68%","1225 C")
      
     .m-columnTwo
      h3.-uppercase.-italic.-mSmTop Paleta de colores en grises
      +colorContainer("","5","#39383B", "57, 56, 59","3%, 5%, 0%, 77%", "260°, 3%, 23%","426 C")
      +colorContainer("","6","#76737B", "118, 115, 123","4%, 7%, 0%, 52%", "270°, 3%, 46%","Gray 10 C")
      +colorContainer("","7","#BAB7C1", "186, 183, 193","4%, 5%, 0%, 24%", "252°, 8%, 74%","2746 C")
      +colorContainer("","8","#fefefe", "254, 254, 254","0%, 0%, 0%, 0%", "0°, 0%, 100%","white")
   
   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Tipografía
    .m-textContent
     .m-columnOne
      h3.-uppercase.-italic.-padXsBottom Tipografía del logotipo
      p La tipografía del logotipo es Ubutu. Aquí se encontrará sus diferentes versiones en Light, Regular, Medium y Bold.
      ul.m-linksList.-mXsTop
       li: a.-medium.-dFlex.-target(href=linkfont[0], target="_blank") 🅰 #[b.-linksText #{typoManual[0]}]
      +TypoTextContainer("a-manualTypoFont__one -padSmTop", typoManual[0]+" "+Weight[2], "-thin")
      +TypoTextContainer("a-manualTypoFont__one", typoManual[0]+" "+Weight[3], "-regular")
      +TypoTextContainer("a-manualTypoFont__one", typoManual[0]+" "+Weight[4], "-medium")
      +TypoTextContainer("a-manualTypoFont__one", typoManual[0]+" "+Weight[6], "-bold")
     .m-columnTwo
      h3.-uppercase.-italic.-padXsBottom Tipografía secundaria
      p La tipografía complementaria es Hind. Esta es la que se aplica en los textos que acompañan al logotipo, en la página web y otros medios.
      ul.m-linksList.-mXsTop
       li: a.-medium.-dFlex.-target(href=linkfont[1], target="_blank") 🅰 #[b.-linksText #{typoManual[1]}]
      +TypoTextContainer("a-manualTypoFont__two -padSmTop", typoManual[1]+" "+Weight[2], "-thin")
      +TypoTextContainer("a-manualTypoFont__two", typoManual[1]+" "+Weight[3], "-regular")
      +TypoTextContainer("a-manualTypoFont__two", typoManual[1]+" "+Weight[4], "-medium")
      +TypoTextContainer("a-manualTypoFont__two", typoManual[1]+" "+Weight[6], "-bold")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Versiones correctas del #{words[1]}
    .m-textContent
     .m-columnOne
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Principal fondo transparente", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_explain_normal.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Blanco y negro fondo transparente", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_explain_grey.png")
     .m-columnTwo
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Principal en negativo", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_bg_1.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Blanco y negro en negativo", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_negativo_2.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Aplicaciones correctas del #{words[1]}
    .m-textContent
     .m-columnOne
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Fondo de color neutro", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_negativo_1.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Fondo fotográfico claro", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_bg_4.png")
     .m-columnTwo
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Fondo de color claro", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_bg_2.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Fondo fotográfico oscuro", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_bg_3.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Aplicaciones incorrectas del #{words[1]}
    .m-textContent
     .m-columnOne
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Aplicación incorrecta del color", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_color.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Deformación", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_bug.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Ocultación del logotipo", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_hide.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Tipografía incorrecta", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_typo.png")
     .m-columnTwo
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Porcentaje de opacidad modificado", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_opacity.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Espaciado incorrecto", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_kerning.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Escritura en los espacios de seguridad", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_writespace.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 ","Escritura encima del logotipo", "-mAutoRight ", "assets/img/manual_monlogo/imagotipo_dont_writelogo.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Recursos gráfico
    .m-textContent
     .m-columnOne
      +ImgTextContainer("-mSmTop ", "-m-w30 -mAutoRight","Recursos gráficos individuales", "-w30", "assets/img/manual_monlogo/points_square.svg")
      +ImgTextContainer("-mSmTop ", "-m-w30 -mAutoRight","", " -w30", "assets/img/manual_monlogo/circle_lines.svg")
      +ImgTextContainer("-mSmTop ", "-m-w30 -mAutoRight","", " -w30", "assets/img/manual_monlogo/work_config.svg")
     .m-columnTwo
      +ImgTextContainer("-mSmTop ", "-m-w75 -mAuto","Patrones para banners o fondos de imágenes", " ", "assets/img/manual_monlogo/imagotipo_banner_1.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 -mAuto","", " ", "assets/img/manual_monlogo/imagotipo_banner_2.png")
      +ImgTextContainer("-mSmTop ", "-m-w75 -mAuto","Banner para redes sociales", " ", "assets/img/manual_monlogo/banner_web.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Aplicaciones
    .m-textContent
     .m-columnOne
      +ImgTextContainer("-mSmTop ", "-m-w75 -mAuto","Favicon en la pestaña del navegador", "", "assets/img/manual_monlogo/mockup_nav.png")
      +ImgTextContainer("-mSmTop ", "-m-w90 -mAuto","Tarjeta de presentación", "", "assets/img/manual_monlogo/mockup_tarjeta.png")

     .m-columnTwo
      +ImgTextContainer("-mSmTop ", "-m-w75 -mAuto","Perfil de instagram", "", "assets/img/manual_monlogo/mockup_instagram.png")

   .o-nextLink
    +relatedLink("", linksUrl[1]+linksInternos[1]+"#packOne", "📄 Paquetes de Identidad Gráfica")
    +nextUpLink("-hide", "", "")