include ../../../lib/_var.pug
include ../../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../../base/_head.pug
  meta(name="og:url", content="https://monlogo.co")
  meta(name="title", content=titles[0])
  meta(name="description", content="Llevamos tu negocio al mundo digital, en un mundo cada vez más tecnológico, hacemos la transformación digital de tu negocio aumentando su exposición a nivel mundial las 24 horas/todos los días del año.")
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")

  title #{manualNames[11]} & #{manualNames[12]} | #{atomic[2]} | #{titles[0]}
 body.o-colorIndex
  // header
  include ../../../base/_header.pug

  // Hero & text
  include ../../../components/monlogo/manual_ui/organismo/_contact-faq.pug

  // footer
  include ../../../base/_footer_notion.pug