section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[1],"游깳", "Manual dise침o programaci칩n")
     +textNoLinks("游댤", "Componentes del website")
    h1.a-text__header Componentes del website
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails Manual del dise침o para programaci칩n


  article.m-text__blog
   .m-text__section
    .m-textContent.-gridGapXs
     .m-columnOne
      p Nuestra m칠todo para crear componentes para nuestro dise침o UI es el #[b.-medium.-italic Dise침o at칩mico], este consta de 5 niveles: los #[b.-bold.-italic 치tomos] que son los componentes b치sicos, como los botones; las #[b.-bold.-italic mol칠culas] que consiste en la combinaci칩n de 치tomos; los #[b.-bold.-italic organismo] est치n compuestos por las mol칠culas y que al unirse forman bloques; los #[b.-bold.-italic template] que consisten en agrupaciones de organismos unidos; y #[b.-bold.-italic p치ginas] son son las mismas plantillas pero con la sustituci칩n de algunos elementos que sean representativos de lo que el usuario final ver치.

     .m-columnTwo
      p Los componentes deben tener:
      ul.m-listContent.-check.a-noPadding
       li: p Nombre
       li: p Descripci칩n/Soluci칩n
       li: p Behavior (comportamiento del componente con su entorno) en desktop y tel칠fono
       li: p Estados de componente (prendido/apagado, "modo navide침o")
    .-padRgTop.m-text__img
     .-m-w75.-mAuto
      img(class="a-text__img -mXsBottom", src="https://miro.medium.com/max/600/1*-EpDbcdrdn_sgz5AbRAHFw.gif", alt="Gif animado del Atomic design UI")

   .m-text__section
    .m-textContent
     .m-columnOne
      .m-text__sectionHeader
       .m-text__sectionHeaderText
        h3.a-text__title.-uppercase.-italic #{atomic[0]}
      ul.m-linksList
       li: a.-medium.-dFlex(href=monlogoInternos[5]) 游닀 #[b.-linksText #{manualNames[0]}]
       li: a.-medium.-dFlex(href=monlogoInternos[6]) 游닀 #[b.-linksText #{manualNames[1]}]
      
      .m-text__sectionHeader.-padSmTop
       .m-text__sectionHeaderText
        h3.a-text__title.-uppercase.-italic #{atomic[1]}
      ul.m-linksList
       li: a.-medium.-dFlex(href=monlogoInternos[7]) 游닀 #[b.-linksText #{manualNames[2]}]
       li: a.-medium.-dFlex(href=monlogoInternos[8]) 游닀 #[b.-linksText #{manualNames[3]}]
       li: a.-medium.-dFlex(href=monlogoInternos[9]) 游닀 #[b.-linksText #{manualNames[4]}]

      .m-text__sectionHeader.-padSmTop
       .m-text__sectionHeaderText
        h3.a-text__title.-uppercase.-italic #{atomic[2]}
      ul.m-linksList
       li: a.-medium.-dFlex(href=monlogoInternos[10]) 游닀 #[b.-linksText #{manualNames[5]}]
       li: a.-medium.-dFlex(href=monlogoInternos[11]) 游닀 #[b.-linksText #{manualNames[6]}]
       li: a.-medium.-dFlex(href=monlogoInternos[12]) 游닀 #[b.-linksText #{manualNames[7]} - #{pageName[0]}]
       li: a.-medium.-dFlex(href=monlogoInternos[13]) 游닀 #[b.-linksText #{manualNames[8]}]
       li: a.-medium.-dFlex(href=monlogoInternos[17]) 游닀 #[b.-linksText #{manualNames[13]}]
       li: a.-medium.-dFlex(href=monlogoInternos[14]) 游닀 #[b.-linksText #{manualNames[9]}]
       li: a.-medium.-dFlex(href=monlogoInternos[15]) 游닀 #[b.-linksText #{manualNames[10]}]
       li: a.-medium.-dFlex(href=monlogoInternos[16]) 游닀 #[b.-linksText #{manualNames[11]} & #{manualNames[12]}]

     .m-columnTwo
      .m-text__sectionHeader
       .m-text__sectionHeaderText
        h3.a-text__title.-uppercase.-italic #{atomic[3]}
      
      h3.-uppercase.-italic.-mSmTop #{pageName[0]}
      ul.m-linksList.-padXsTop
       li: a.-medium.-dFlex(href=monlogoInternos[10]) 游닀 #[b.-linksText #{manualNames[5]}]
       li: a.-medium.-dFlex(href=monlogoInternos[12]) 游닀 #[b.-linksText #{manualNames[7]} - #{pageName[0]}]
       li: a.-medium.-dFlex(href=monlogoInternos[11]) 游닀 #[b.-linksText #{manualNames[6]}]
       li: a.-medium.-dFlex(href=monlogoInternos[13]) 游닀 #[b.-linksText #{manualNames[8]}]
       li: a.-medium.-dFlex(href=monlogoInternos[14]) 游닀 #[b.-linksText #{manualNames[9]}]
       li: a.-medium.-dFlex(href=monlogoInternos[15]) 游닀 #[b.-linksText #{manualNames[10]}]
       li: a.-medium.-dFlex(href=monlogoInternos[16]) 游닀 #[b.-linksText #{manualNames[11]} & #{manualNames[12]}]
       li: a.-medium.-dFlex(href=monlogoInternos[17]) 游닀 #[b.-linksText #{manualNames[13]}]

   .o-nextLink
    +relatedLink("", monlogoInternos[1], "游깳 Manual dise침o programaci칩n")
    +nextUpLink("", monlogoInternos[3], "游댢 Fundaciones y variables")