section.o-hero.-bg
 .m-heroContent.-ContainerUniversal.-bigger
  .m-heroContent__text
   .a-heroContent__title
    h1.-center Lleva tu marca al siguiente nivel
   .a-heroContent__text
    h3.-center Vivimos tiempos de grandes retos como humanidad. Aún podemos encaminarnos hacia una transformación y un despertar de conciencia individual y colectivo. El Yoga y otras técnicas pueden ayudar.

  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/index/doodle_hero_rev1.png", alt="", srcset=linksUrl[1]+"assets/img/index/doodle_hero_xs.png 577w 2x")
    //- img(src=linksUrl[1]+"assets/img/index/doodle_hero_rev1.png", alt="", sizes="(min-width: 576px) 400px, (max-width: 577px) 400px", srcset="#{linksUrl[1]}assets/img/index/doodle_hero_rev1.png 400w, #{linksUrl[1]}assets/img/index/doodle_hero_xs.png 577w")

 .a-border.-ContainerBlog
  .-borderBottom