//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[4],"游깳", "Componentes del website")
     +textNoLinks("游댢", manualNames[1])
    h1.a-text__header #{manualNames[1]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails #{atomic[0]}


  article.m-text__blog

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Descripci칩n
    .m-text__alert
     .a-text__alert #[span.-iconAlerts 游눠]
     .m-text__warning
      p Para ver cuanto miden cada breakpoints ir a #[a.-colorAlert.-medium(href=linksDev[0], target="_blank") medidas de breakpoints]
    .m-text__div
     p Los textos no tienen una clase ni nombre especifico. Est치s son las variacones de tama침o y tipo de texto que hay en la p치gina. Las tipograf칤as elegidas para el website son:
     p Para los headings (H1, H2, H3) y p치rrafos la tipograf칤a es #[a.-colorAlert.-medium(href=linksfont[0], target="_blank") Hind], y para resaltar un texto o usar Italic usaremos #[a.-colorAlert.-medium(href=linksfont[1], target="_blank") Raleway]
     h3.-uppercase.-italic Desktop (breakpoints Xl y Lg)
     .-row
      .-col-12
       +ImgTextContainer("", "-m-w75 -mAuto","", "", "assets/img/componentes/text-lg.png")

    .m-text__div
     h3.-uppercase.-italic Tablet y Tel칠fono (breakpoints Md, Sm, Xs, Xxs, X0)
     .-row
      .-col-12
       +ImgTextContainer("", "-m-w75 -mAuto","", "", "assets/img/componentes/text-md.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Estados
    .m-text__div
     p Los estados de un 치tomo pueden variar como se comportar치 este cuando se encuentre en X situaci칩n. En este caso, los textos normalmente no tienen ning칰n tipo de estado, pero si pueden tener decoraciones, en este caso estas son:
     .-row
      .-col-4
       .m-codeCss
        p .-bold
      .-col-4
       .m-codeCss
        p .-medium
      .-col-4
       .m-codeCss
        p .-italic
