include ../../../lib/_var.pug
include ../../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../../base/_head.pug
  meta(name="og:url", content="https://monlogo.co")
  meta(name="title", content=titles[0])
  meta(name="description", content="Llevamos tu negocio al mundo digital, en un mundo cada vez más tecnológico, hacemos la transformación digital de tu negocio aumentando su exposición a nivel mundial las 24 horas/todos los días del año.")
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")
  link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap", rel="stylesheet")
  
  title #{manualNames[3]} | #{atomic[1]} | #{titles[0]}
 body.o-colorIndex
  // header
  include ../../../base/_header.pug

  // Hero & text
  include ../../../components/monlogo/manual_ui/moleculas/_texts-img-lr.pug

  // footer
  include ../../../base/_footer_notion.pug