//- Contenido del index
mixin boxCourse(a="#", img, n, tipo="Curso", title="Curso de ...", icon, d, texto="Hey!! aqui va descripción", pro, profe, cBg, status="Fácil")
 a(class="m-box -course m-box__anima", href=""+a)
  .m-box__containerImg
   img(class="a-course__img", src=linksUrl[1]+img, alt="Curso de "+n)
  .m-box__container.-course
   p.-colorPrimary.-bold=tipo
   h3.m-box__title.-course=title
   .m-box__profile
     .m-box__profileImg
      img(class="a-course__profile", src=linksUrl[1]+pro, alt="Por la profesora "+profe)
     p=profe
   p.a-box__text=texto
   .m-box__details
    .m-box__icon
     img(class="a-course__icon", src=linksUrl[1]+icon, alt="Nivel de dificultad: "+d)
     p=d
    div(class="m-box__stage "+cBg)
     p.a-box__stage=status

mixin footerLink(lin=linksUrl[1],acl="",pr="Link")
 li: a(href=""+lin, class="a-footerLink "+acl)=pr