//- Contenido del index
mixin boxCourse(a="#", img, n, title="Curso de ...", d, texto="Hey!! aqui va descripción")
 a(class="m-box -course m-box__anima", href=""+a)
  .m-box__containerImg
   img(class="a-course__img", src=linksUrl[1]+img, alt="Curso de "+n)
  .m-box__container
   h3.m-box__title=title
   .m-box__profile
     .a-arrowWierd
     p=d
   p.a-box__text=texto

mixin footerLink(lin=linksUrl[1],acl="",pr="Link")
 li: a(href=""+lin, class="a-footerLink "+acl)=pr